body { text-align:center;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* -------------------------------------------- */
/*				Tooltip							*/
/* -------------------------------------------- */
#text {margin:50px auto;}
.hotspot {cursor:default}
#tt {position:absolute; display:block; background:url(/img/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(/img/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(/img/tt_bottom.gif) top right no-repeat; overflow:hidden}

/* -------------------------------------------- */
/*				Sugn-up Button					*/
/* -------------------------------------------- */

.sprite_signup_button_grey_l {
background: url(/img/greybtn.png) no-repeat 0px 0px;
height: 45px;
width: 14px;
}

.sprite_signup_button_grey_m {
background: url(/img/greybtn.png) no-repeat -14px 0px;
height: 45px;
}

.signup_btn_link {
color: black;
font-size: 14px;
font-weight: bold;
padding: 0px 7px;
text-align: center;
text-align: center;
text-decoration: none;
white-space: nowrap;
}

.sprite_signup_button_grey_r {
	background: url(/img/greybtn.png) no-repeat -365px 0px;
	height: 45px;
	width: 15px;
}

strong { font-weight:bold; }

h1 { font-size:21px; }

h2 { font-size:18px; }

.silent_feature {
	margin:10px 10px;
	padding:10px 10px;
	background-color: #FFE;
	border: 1px solid #EE0;
}

.f14 {
	font-size: 14px;
}

.pad5 {
	margin:5px 0px 5px 0px;
}

.pad20 {
	margin:20px 0px 20px 0px;
}

a,a:link,a:visited,a:hover { 
	color:#fd4800;
	text-decoration:none;
	font-weight: normal; 
}
a:focus,a:hover { 
	text-decoration:underline;
}


/* -------------  Quotes  -------------- */
blockquote {
    position: relative;
    text-indent: 2em;
}
 
.bqstart,
.bqend { font-size: 300%; }
 
/* apply IE specific rules first */
.bqstart {
    text-indent: 0;
    margin: -0.6em 0 -2em 0;
    float: left;
}
 
blockquote> .bqstart {
    /* add extra non-IE rules */
    position: absolute;
    top: -0.2em;
    left: 0;
    /* remove IE specific rules */
    float: none;
    margin: 0;
}
 
.bqend {
    position: absolute;
    margin-top: -0.6em;
    right: 0;
    text-indent: 0;
}
 
blockquote> .bqend {
    margin-top: -0.2em;
}
/* ----------- 	Ends ------------- */

#templatemo_header_wrapper {
	width: 100%;
	margin: 0 auto;
	background: url(/img/templatemo_header_bg.jpg) repeat-x;
}

#templatemo_header {
	width: 940px;
	height: 64px;
	padding: 15px 20px 0px 20px;
	margin: 0 auto;
}

/* menu */

#templatemo_header #templatemo_menu {
	float: right;
    width: 900px;
	height: 48px;
}

#templatemo_menu ul {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#templatemo_menu ul li {
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 38px;
	margin-left: 10px;
	padding: 10px 30px 0 22px;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	position: relative;
	/*color: #000;*/
	color: #ffffff;
	background: url(/img/templatemo_menu_hover_right.jpg) bottom right no-repeat;
	_height: 47px; /* IE6 only */
}

#templatemo_menu li a:hover span, #templatemo_menu li .current span	{
	position: absolute;
	display: inline-block;
	font-size:1px;
	width: 7px;
	height: 48px;
	bottom: 0px;
	left: -2px;
	background: url(/img/templatemo_menu_hover_left.jpg) left bottom no-repeat;
}

/* end of menu */

/* banner */
#templatemo_banner_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: #ffffff;
}

#templatemo_banner {
	width: 940px;
	height: 220px;
	margin: 0 auto;
	background: #ffffff url(/img/templatemo_banner_bg.png) no-repeat;
}

#templatemo_banner #banner_content {
	padding: 0px;
	margin: 65px 40px 0px 40px;
}

#banner_content #banner_title {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding: 0 0 20px 0;
}

#banner_content #banner_text {
	text-align: justify;
	font-size: 12px;
}

/* end of banner */


/* content */

#templatemo_content_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: #ffffff;
	text-align:center;
}

#templatemo_content {
	width: 940px;
	margin: 0 auto;
	padding: 4px 20px 0 20px;
	text-align:left;
}

/* end of content */

/* footer */

#templatemo_footer_wrapper {
	clear: both;
	/*margin: 0 auto;*/
	background: #656565;
	border-top: 10px solid #ea6a37;
	text-align:center;width: 100%;
}

#templatemo_footer {
	width: 940px;
	margin: 0 auto;
	padding: 20px;
	background: #656565;
	color: #ffffff;
	text-align:left;
}

#templatemo_footer a {
	color: #e5b614;
	font-size:13px;
	text-decoration:none;    
}

#templatemo_footer a:hover {
	color: #fff;
}

/* end of footer */body { text-align:center;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,p,blockquote,table,tr,th,td,embed,object {
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

/* -------------------------------------------- */
/*				Tooltip							*/
/* -------------------------------------------- */
#text {margin:50px auto;}
.hotspot {cursor:default}
#tt {position:absolute; display:block; background:url(/img/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(/img/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(/img/tt_bottom.gif) top right no-repeat; overflow:hidden}

/* -------------------------------------------- */
/*				Sugn-up Button					*/
/* -------------------------------------------- */

.sprite_signup_button_grey_l {
background: url(/img/greybtn.png) no-repeat 0px 0px;
height: 45px;
width: 14px;
}

.sprite_signup_button_grey_m {
background: url(/img/greybtn.png) no-repeat -14px 0px;
height: 45px;
}

.signup_btn_link {
color: black;
font-size: 14px;
font-weight: bold;
padding: 0px 7px;
text-align: center;
text-align: center;
text-decoration: none;
white-space: nowrap;
}

.sprite_signup_button_grey_r {
	background: url(/img/greybtn.png) no-repeat -365px 0px;
	height: 45px;
	width: 15px;
}

h1 { font-size:21px; }

h2 { font-size:18px; }

.silent_feature {
	margin:10px 10px;
	padding:10px 10px;
	background-color: #FFE;
	border: 1px solid #EE0;
}

.f14 {
	font-size: 14px;
}

.pad5 {
	margin:5px 0px 5px 0px;
}

.pad20 {
	margin:20px 0px 20px 0px;
}

a,a:link,a:visited,a:hover { 
	color:#fd4800;
	text-decoration:none;
	font-weight: normal; 
}
a:focus,a:hover { 
	text-decoration:underline;
}

#templatemo_header_wrapper {
	width: 100%;
	margin: 0 auto;
	background: url(/img/templatemo_header_bg.jpg) repeat-x;
}

#templatemo_header {
	width: 940px;
	height: 64px;
	padding: 15px 20px 0px 20px;
	margin: 0 auto;
}

/* menu */

#templatemo_header #templatemo_menu {
	float: right;
    width: 900px;
	height: 48px;
}

#templatemo_menu ul {
	float: right;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#templatemo_menu ul li {
	display: inline;
}

#templatemo_menu ul li a {
	float: left;
	display: block;
	height: 38px;
	margin-left: 10px;
	padding: 10px 30px 0 22px;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	position: relative;
	/*color: #000;*/
	color: #ffffff;
	background: url(/img/templatemo_menu_hover_right.jpg) bottom right no-repeat;
	_height: 47px; /* IE6 only */
}

#templatemo_menu li a:hover span, #templatemo_menu li .current span	{
	position: absolute;
	display: inline-block;
	font-size:1px;
	width: 7px;
	height: 48px;
	bottom: 0px;
	left: -2px;
	background: url(/img/templatemo_menu_hover_left.jpg) left bottom no-repeat;
}

/* end of menu */

/* banner */
#templatemo_banner_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: #ffffff;
}

#templatemo_banner {
	width: 940px;
	height: 220px;
	margin: 0 auto;
	background: #ffffff url(/img/templatemo_banner_bg.png) no-repeat;
}

#templatemo_banner #banner_content {
	padding: 0px;
	margin: 65px 40px 0px 40px;
}

#banner_content #banner_title {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	padding: 0 0 20px 0;
}

#banner_content #banner_text {
	text-align: justify;
	font-size: 12px;
}

/* end of banner */


/* content */

#templatemo_content_wrapper {
	clear: both;
	width: 100%;
	margin: 0 auto;
	background: #ffffff;
	text-align:center;
}

#templatemo_content {
	width: 940px;
	margin: 0 auto;
	padding: 4px 20px 0 20px;
	text-align:left;
}

/* end of content */

/* footer */

#templatemo_footer_wrapper {
	clear: both;
	/*margin: 0 auto;*/
	background: #656565;
	border-top: 10px solid #ea6a37;
	text-align:center;width: 100%;
}

#templatemo_footer {
	width: 940px;
	margin: 0 auto;
	padding: 20px;
	background: #656565;
	color: #ffffff;
	text-align:left;
}

#templatemo_footer a {
	color: #e5b614;
	font-size:13px;
	text-decoration:none;    
}

#templatemo_footer a:hover {
	color: #fff;
}

/* end of footer */